<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
        <meta charset="utf-8">

        <title>{{ siteTitle }}</title>
        <meta content="{{ description }}" name="description">
        <meta content="{{ author }}" name="author">
        <meta content="width=device-width, initial-scale=1" name="viewport">

        <link href="./img/avatar.webp" rel="icon" type="image/webp">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;800&display=swap" rel="stylesheet">


        <link href="./css/styles.css" rel="stylesheet" type="text/css">


    </head>
    <body>
        <main class="container">
            <!-- Intro --->
            <header aria-label="quick summary">
                <% inc/header.html %>
            </header>
            <!-- Social Media Links --->
            <article class="socials" aria-label="social media links">
                <div class="social-media">
                    <% inc/social-buttons.html %>
                </div>
            </article>
            <!-- Email Signup --->
            <article class="emails" aria-label="stay up to date">
                <% inc/email-signup.html %>
            </article>
            <!-- Let's Connect --->
            <article class="connections" aria-label="Let's Connect">
                <h3 class="subtitle">Let's Connect</h3>
                <% inc/connect.html %>
            </article>
            <!-- Gear List --->
            <article class="gear" aria-label="My Gear List">
                <h3 class="subtitle">Gear I Use</h3>
                <% inc/gear-list.html %>

            </article>
            <!-- Book List --->
            <article class="books" aria-label="Let's Connect">
                <h3 class="subtitle">Books You Gotta Read</h3>
                <% inc/book-list.html %>
            </article>

            <!-- Discounts List --->
            <article aria-label="Let's Connect">
                <h3 class="subtitle">My Other Recommendations</h3>
                <% inc/discounts.html %>
            </article>

        </main>

        <% inc/includes.html %>
    </body>
</html>